

.gallery li{
  list-style: none;
}
.image-item a{
  text-decoration: none;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1em;
  padding: 2em;

}
.gallery img{
  max-width: 100%;
}
.image-item , .image-item a , .image{
  
  display: flex;
  flex-direction: column;

}

.image-item a , .image , .image img{
    flex-grow: 1;
}
.image img{
  object-fit: cover;
}
